{% extends "common/base.html" %}
{% load static %}
{% load extra_tags %}

{% block site_title %}
    Login - {{site_settings.app_name}}
{% endblock %}

{% block extra_fonts %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'user/css/base.css' %}">
<link rel="stylesheet" href="{% static 'home/css/scale.css' %}">
{% endblock %}

<!-- body content -->
{% block sidebar_left %}
    {% with sdbr_pg_sel='more' sdbr_pg_sel_sub='faq' %}
        {% include "users/sidebar.left.min.html" %}
    {% endwith %}
{% endblock %}

{% block main_window %}
    <!-- center window start -->
    <div class="main-win">
        <div class="main-content small">

            <div class="page-wrap pg0-wrap">
                <div class="top-text">Frequently Asked Questions</div>
                <hr class="sep">
                <div class="pg0-content">
                    <div class="pg0-question-text">
                        What is lorem ipsum dolor sit, amet consectetur adipisicing elit?
                    </div>
                    <div class="pg0-instr" id="pg0-acc-speak-field">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum at assumenda iure enim perspiciatis sit, asperiores mollitia sapiente quas sequi impedit temporibus blanditiis praesentium quisquam, eius sunt ab quae. Sequi.
                        </p>                          
                    </div>

                    <div class="pg0-question-text">
                        What would you like to do today?
                    </div>
                    <div class="pg0-instr" id="pg0-acc-speak-field">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum at assumenda iure enim perspiciatis sit, asperiores mollitia sapiente quas sequi impedit temporibus blanditiis praesentium quisquam, eius sunt ab quae. Sequi.
                        </p>                          
                    </div>

                    <div class="pg0-question-text">
                        Does Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet rerum totam voluptatem a cumque delectus molestiae, non nisi voluptates explicabo possimus facere reprehenderit vitae aperiam sed nihil est soluta similique?
                    </div>
                    <div class="pg0-instr" id="pg0-acc-speak-field">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum at assumenda iure enim perspiciatis sit, asperiores mollitia sapiente quas sequi impedit temporibus blanditiis praesentium quisquam, eius sunt ab quae. Sequi.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum at assumenda iure enim perspiciatis sit, asperiores mollitia sapiente quas sequi impedit temporibus blanditiis praesentium quisquam, eius sunt ab quae. Sequi.
                        </p>                          
                    </div>

                    <div style="margin-bottom: 45px;"></div>
                </div>
                <hr class="sep">
                <br><br><br><br>
            </div>

        </div>
    </div>
    <!-- center window end -->
{% endblock %}

{% block sidebar_right %}
{% endblock %}
<!-- end body content -->

{% block extra_js %}
<script src="{% static 'user/js/base.js' %}" type="text/javascript" defer></script>
{% endblock %}