{% extends "common/base.html" %}
{% load static %}
{% load extra_tags %}

{% block extra_fonts %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'home/css/accessiblity.css' %}">
<link rel="stylesheet" href="{% static 'home/css/fields.css' %}">
<link rel="stylesheet" href="{% static 'home/css/page.css' %}">
<link rel="stylesheet" href="{% static 'home/css/scale.css' %}">
{% endblock %}

{% block extra_includes %}
<audio id="beep"><source src="{% static 'common/sounds/beep.mp3' %}" type="audio/mpeg"></audio>
{% endblock %}

<!-- body content -->
{% block sidebar_left %}
    {% include "common/sidebar.left.html" %}
{% endblock %}

{% block main_window %}
    <!-- center window start -->
    <div class="main-win">
        <div class="main-content small">
            {% include "common/home.pages/pg0.welcome.html" %}
            {% include "common/home.pages/pg1.prcr.title.html" %}
            {% include "common/home.pages/pg1.prcr.type.html" %}
        </div>
    </div>
    <!-- center window end -->
{% endblock %}

{% block sidebar_right %}
    {% include "common/sidebar.right.html" %}
{% endblock %}
<!-- end body content -->

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js" defer></script>
<script src="{% static 'common/js/text-voice.js' %}" type="text/javascript" defer></script>
<script>
    // page constants
    const user_firstName = "{{ request.user.first_name }}";
    const user_lastName = "{{ request.user.last_name }}";
    const user_fullName = "{{ request.user.get_full_name }}";
    const user_email = "{{ request.user.email }}";
</script>
<script src="{% static 'home/js/content.js' %}" type="text/javascript" defer></script>
<script src="{% static 'home/js/home.js' %}" type="text/javascript" defer></script>
{% endblock %}