{% block info_modal %}
<div class="modal fade bd-example-modal-lg" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title" id="infoModalTitleSpecial" style="display:none; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 3px; padding-top: 0; font-size: 16px;"></h3>
            <h5 class="modal-title" id="infoModalTitle" style="font-size: 20px; margin-top: 0;"></h5>
            <h3 class="modal-title" id="infoModalTitleSecondary" style="text-align: right; bottom: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 5px;"></h3>
            <button id="infoModalHeader-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="infoModalContent">
            <span id="infoModalContent-text" class="content-text"></span>
        </div>
        <div id="infoModal-footer" class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="infoModalClose">Close</button>
        </div>

    </div>
  </div>
</div>
{% endblock %}