{% load static %}
{% load extra_tags %}

<!-- assumed user is logged in -->

<!-- sidebar:left start -->
<div class="sidebar left{% if sidebar_initial_collapsed %} collapsed{% endif %}">

    <div class="app-side-nav">

        {% include "common/logo.lg.html" %}

        <hr class="sep sep-big">
        
        {% if page_project %}        
        <div class="opt-text-svg opt opt-proj sel">
            {{ project.getProjectTypeSVG|safe }}
            <span class="opt-text-col">
                <p class="opt-text-col-1">{{ project.title | truncatechars:35 }}</p> 
                <p class="opt-text-col-2">{{ project.dt_create|date:"j M Y" }}</p> 
            </span>
            <!-- <svg class="svg-right" width="20" aria-hidden="true" focusable="false" data-prefix="far" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-ellipsis-h fa-w-16 fa-9x"><path fill="currentColor" d="M304 256c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm120-48c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48zm-336 0c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48z" class=""></path></svg> -->
        </div>

        <hr class="sep sep-big">
        {% endif %}

        <div class="opt opt-text-svg sidebar-left-opt-voice" id="create_new_project">
            <svg class="opt-svg" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="15.4297" y1="8.43054" x2="0.81151" y2="8.43054" stroke="black" stroke-width="2"/><line x1="8.30859" y1="0.933838" x2="8.30859" y2="15.552" stroke="black" stroke-width="2"/></svg>
            <p class="opt-text sidebar-left-voice-text">Create New Project</p>
        </div>
        
        <hr class="sep sep-big">
        
        {% with request.user|get_user_recent_projects as recent_projects %}

        {% if recent_projects %}

        <div class="opt-dropdown-wrap">

            <div class="opt sidebar-left-opt-voice">
                <p class="opt-text sidebar-left-voice-text">Your Recent Projects</p>
            </div>

            <div class="opt-dropdown">

                {% for rp in recent_projects %}
                <div class="opt-dropdown-opt opt-text-svg opt opt-proj" onclick="window.location.href='{% url 'project' rp.slug %}';">
                    {{ rp.getProjectTypeSVG|safe }}
                    <span class="opt-text-col">
                        <p class="opt-text-col-1">{{ rp.title | truncatechars:27 }}</p> 
                        <p class="opt-text-col-2">{{ rp.dt_create|date:"j M Y" }}</p> 
                    </span>
                    <svg class="svg-right" width="20" aria-hidden="true" focusable="false" data-prefix="far" data-icon="ellipsis-h" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-ellipsis-h fa-w-16 fa-9x"><path fill="currentColor" d="M304 256c0 26.5-21.5 48-48 48s-48-21.5-48-48 21.5-48 48-48 48 21.5 48 48zm120-48c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48zm-336 0c-26.5 0-48 21.5-48 48s21.5 48 48 48 48-21.5 48-48-21.5-48-48-48z" class=""></path></svg>
                </div>
                <hr class="sep sep-sm">
                {% endfor %}

            </div>

            <hr class="sep sep-big drop-sep">

        </div>

        {% endif %}
        
        {% endwith %}

        <div class="opt sidebar-left-opt-voice">
            <p class="opt-text sidebar-left-voice-text">Library</p>
        </div>

        <hr class="sep sep-big">

        <div class="opt-dropdown-wrap">

            <div class="opt sidebar-left-opt-voice">
                <p class="opt-text sidebar-left-voice-text">Account</p>
            </div>

            <div class="opt-dropdown">

                <div class="opt-dropdown-opt opt-text text-muted small">
                    {{ request.user.get_full_name }}
                </div>

                <hr class="sep sep-sm">

                <div class="opt opt-dropdown-opt opt-text">
                    My Account
                </div>

                <hr class="sep sep-sm">

                <div class="opt opt-dropdown-opt opt-text" onclick="window.location.href='{% url 'logout' %}?next={{request.path}}'">
                    Logout
                </div>

                <hr class="sep sep-sm">

            </div>

            <hr class="sep sep-big drop-sep">

        </div>

    </div>

    <div class="app-side-button" id="ls_show_hide">
        <div class="logo">
            <img class="logo-ico-min" src="{% static 'common/icons/logo-min.svg' %}" alt="Logo">
        </div>
    </div>


</div>
<!-- sidebar:left end -->