{% load extra_tags %}

<script type="text/javascript">

pg0_sdbrR_header = `
    Suggestions
`.trim()
pg0_sdbrR_content = `
    <ul class="list-big">
    <li>- Use the microphone icon to dictate your answer and speed up the process.</li>
    <li>- Use the speaker icon to listen to questions and answers.</li>
    <li>- The question mark icon provides popup information with further assistance.</li>
    <li>- Keep your answers brief and focused on the topic.</li>  
    </ul>
`.trim()

pg1_sdbrR_header = `
    Suggestions
`.trim()
pg1_sdbrR_content = `
    <p>
        Thinking will help you to distill many of the concepts involved in your document and prepare you for the process.  You can come back and change the document name before creating your document.  
    </p>
    <p>
        The document name will be used in your final document.  Here are some sample names to get you thinking:
    </p>
    <ul>
        <li>- Department of Defence HR Requirements</li>
        <li>- Microsoft Strategic Business Plan</li>
        <li>- Eucalypt Cultivaton Guide</li>
        <li>- Plastic Products Overview</li>    
    </ul>
`.trim()

pg2_sdbrR_header = `
    Suggestions
`.trim()
pg2_sdbrR_content = `
    <p>
    Select the closest category to your project.  What you are trying to create may be a sub-category - click and you will see the subtypes to help you select.  Your selection will potentially impact:
    </p>
    <ul>
        <li>- the method used for the remainder of the document creation process.</li>
        <li>- the primary tense used in your document.  For example, a business proposal relates to the future.</li>
        <li>- the way in which key terms and inputs are interpreted by the HyperQuestions Ai Engine.</li>
    </ul>
`.trim()


// pg2 visch sidebar stuff

var pg2_visch_help_dict = {}

{% for opt in PROJ_TYPE_CHOICES %}
pg2_visch{{ forloop.counter }}_header = `
<span class="side-header-icon">
    {{ PROJ_TYPE_SVGS|get_dict_item:opt.0|safe }}
    </span>    
    <span class="side-header-text">{{opt.1}}</span>
    `.trim()
    
    pg2_visch{{ forloop.counter }}_content = `
    <div class="side-content-info-categ-wrap">
        <div class="side-info-categ">
            <div class="info-categ-header">Document Subtypes:</div>
            <div class="info-categ-content">
                {{ PROJ_TYPE_SUBTYPES|get_dict_item:opt.0 }}
            </div>
        </div>
        <div class="side-info-categ">
            <div class="info-categ-header">Document Description:</div>
            <div class="info-categ-content">
                {{ PROJ_TYPE_DESCRIPTIONS|get_dict_item:opt.0 }}
            </div>
        </div>
        <div class="side-info-categ">
            <div class="info-categ-header">Output Details:</div>
            <div class="info-categ-content">
                {{ PROJ_TYPE_OUTPUT_DETAILS|get_dict_item:opt.0 }}
            </div>
        </div>
    </div>
`.trim()

pg2_visch_help_dict['pg2visch{{ forloop.counter }}'] = [pg2_visch{{ forloop.counter }}_header, pg2_visch{{ forloop.counter }}_content]

{% endfor %}

</script>