{% load extra_tags %}

<script type="text/javascript">
const sdbrR_header_fixed = false;

pg2_sdbrR_header = `
    <span class="side-header-icon">
        {{ PROJECT_SVG|safe }}
    </span>    
    <span class="side-header-text" style="display: flex; flex-direction: column">
        <span {% if SIDEBAR_SHOW_SUBTYPE %}style="margin-top: 15px;"{% endif %}>{{PROJECT_TYPE}}</span>
    </span>
`.trim()
pg2_sdbrR_content = `
    <div class="side-header high-gap" style="padding-top:70px">Suggestions</div>
    <div style="padding-top: 15px">
        <p>
            Detailed document types more specifically detertmine the method, document length and output format for your document.  
        <p>
        <p>
            Select a box to see the details of that option
        </p>  
    </div>  
`.trim()

// pg2 visch sidebar stuff

var pg2_visch_help_dict = {}

{% for opt in CHOICES %}
pg2_visch{{ forloop.counter }}_header = `
    <span class="side-header-icon">
        {{ PROJECT_SVG|safe }}
    </span>    
    <span class="side-header-text" style="display: flex; flex-direction: column">
        <span style="margin-top: 10px;">{{PROJECT_TYPE}}</span>
        <span style="font-size:18px; align-self:flex-end; padding-top: 5px">{{opt.1}}</span>
    </span>

    `.trim()
    
    pg2_visch{{ forloop.counter }}_content = `
    {% if SIDEBAR_TYPE == 'CATEGORY' %}
    <div class="side-content-info-categ-wrap">
        <div class="side-info-categ">
            <div class="info-categ-header">{{ SIDEBAR_DESCRPTION_HEADING }}</div>
            <div class="info-categ-content" style="line-height: 30px;">
                {{ SIDEBAR_DESCRPTIONS|get_dict_item:opt.0 }}
            </div>
        </div>
    </div>
    {% elif SIDEBAR_TYPE == 'INFO' %}


    {% endif %}
`.trim()

pg2_visch_help_dict['pg2visch{{ forloop.counter }}'] = [{{ forloop.counter }}, pg2_visch{{ forloop.counter }}_header, pg2_visch{{ forloop.counter }}_content]

{% endfor %}

</script>