{% extends "common/home.html" %}
{% load static %}
{% load extra_tags %}

<!-- body content -->

{% block main_window %}
    <!-- center window start -->
    <div class="main-win">
        <div class="main-content">



            <div class="page-wrap pg1-wrap" style="margin-top: 75px;">
                <div class="top-text full" id="pg1-acc-speak-field" value="{{ QUESTION_TEXT }}">{{ QUESTION_TEXT }}</div>
                <hr class="sep">
                <div class="pg1-content">
                    <div class="pg1-question">
                        <div class="pg1-question-text along-access-text">
                            {{ QUESTION_LEADIN }}
                        </div>
                        <div class="accessibility">
                            <button type="button" class="btn btn-light acc-opt acc-mic" data-fieldid="pg1_field_updproj">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="microphone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svg-inline--fa fa-microphone fa-w-11 fa-9x"><path fill="currentColor" d="M176 352c53.02 0 96-42.98 96-96V96c0-53.02-42.98-96-96-96S80 42.98 80 96v160c0 53.02 42.98 96 96 96zm160-160h-16c-8.84 0-16 7.16-16 16v48c0 74.8-64.49 134.82-140.79 127.38C96.71 376.89 48 317.11 48 250.3V208c0-8.84-7.16-16-16-16H16c-8.84 0-16 7.16-16 16v40.16c0 89.64 63.97 169.55 152 181.69V464H96c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-56v-33.77C285.71 418.47 352 344.9 352 256v-48c0-8.84-7.16-16-16-16z" class=""></path></svg>
                            </button>
                            <button type="button" class="btn btn-light acc-opt acc-speak" data-fieldid="pg1-acc-speak-field">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="volume" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512" class="svg-inline--fa fa-volume fa-w-15 fa-9x"><path fill="currentColor" d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.53 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z" class=""></path></svg>
                            </button>
                            <button type="button" class="btn btn-light acc-opt acc-help" data-helptext="{{ PAGE_TIP }}">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-question fa-w-12 fa-9x"><path fill="currentColor" d="M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z" class=""></path></svg>
                            </button>
                        </div>
                    </div>
                    <div class="pg1-fields">
                        <input type="text" class="form-control  cust-input" id="pg1_field_updproj" placeholder="Type here..." maxlength="1000" {% if curr_value %}value="{{ curr_value }}"{% endif %}>
                    </div>
                </div>
                <hr class="sep">
                <div class="pg1-buttons">
                    {% if BACK_URL %}
                    <button type="button" class="btn btn-dark cust-button" id="btn_back_updproj" onclick="event.preventDefault(); pageCleanup(); window.location.href='{% url BACK_URL project.slug BACK_URL_ATTR %}'">Back</button>
                    {% endif %}
                    <button type="button" class="btn btn-dark cust-button align-right" id="btn_next_updproj">Next</button>
                </div>
                
                <div class="noshow" style="opacity: 0; position: absolute; top: 0; z-index: -100;">
                    {{ PROJECT_SVG|safe }}
                </div>
                <div class="sidebar-right-secondary"><div class="side-wrap"><div class="side-id" style="display: none; width: 0; height: 0;"></div><div class="side-header"></div><div class="side-content"></div></div></div>

            </div>
            
        </div>
    </div>
    <!-- center window end -->
{% endblock %}

<!-- end body content -->

{% block hidden_content %}
<form action="{% url FORM_URL_NAME project.slug FORM_URL_ATTR %}" method="POST" id="project_update_form">
    {% csrf_token %}
    <input type="text" {% if curr_value %}value="{{ curr_value }}"{% endif %} name="{{FORM_INPUT_NAME}}" id="projFormInp-upd">
    {% if FORCE_NEXT %}
    <input type="checkbox" name="force_next" value="ForceNext" checked>
    {% endif %}
</form>
{% endblock %}

{% block extra_js %}
<!-- <script src="https://cdn.jsdelivr.net/npm/microsoft-cognitiveservices-speech-sdk@latest/distrib/browser/microsoft.cognitiveservices.speech.sdk.bundle-min.js" defer></script> -->
<script src="{% static 'common/js/text-voice.js' %}" type="text/javascript" defer></script>
<script>
    // page constants
    const user_firstName = "{{ request.user.first_name }}";
    const user_lastName = "{{ request.user.last_name }}";
    const user_fullName = "{{ request.user.get_full_name }}";
    const user_email = "{{ request.user.email }}";
    const url_projCreate = "{% url 'project-create' %}";
    const proj_choice_curr_value = {% if curr_value %}"{{ curr_value }}"{% else %}null{% endif %};
</script>
{% include CONTENT_PAGE_PATH %}
<script src="{% static 'common/js/accessibility.js' %}" type="text/javascript" defer></script>
<script src="{% static 'projects/js/initial.prop.js' %}" type="text/javascript" defer></script>
{% endblock %}