.pg-tabs .sep-wrap {
  width: 100%;
  margin-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pg-tabs .sep-wrap:NOT(.active) {
  cursor: pointer;
}

.pg-tabs .sep-wrap hr.sep {
  border-width: 2px;

  border-color: #c9c9c9ab;
}

.pg-tabs .sep-wrap.active hr.sep {
  border-color: #EF8162;
}

.pg-tabs .sep-wrap:not(.active):hover hr.sep {
  border-color: #C9C9C9;
}

.top-fixed-text {
  margin-bottom: 30px;
}

.pg-tabs {
  margin-bottom: 30px;
}

.pg-top-wrap {
  padding-bottom: 50px;
}

#contentEditButton, #contentEditOptions > * {
  font-family: var(--base-font-regular);
  font-size: 18px;
  color: #9FA3A7 !important;
  cursor: pointer;
  width: max-content !important;
}

#contentEditButton {
  min-width: 60px;
}

#contentEditOptions {
  min-width: 120px;
}

@media (max-width: 750px) {

}

.auto-answer {
  color: #8C8E8F;
  cursor: pointer;
  font-size: 16px;
  border: solid #C9C9C9;
  border-width: 0px 2px 0px 0px;
  padding-right: 20px;
  display: flex;
  align-items: center;

  background: none;
  border-radius: 0;
}

.auto-answer:hover, .auto-answer:focus {
  color: #8C8E8F !important;

  background: none;
  border-radius: 0;
}

.auto-answer svg {
  margin-right: 10px;
}

.top-text {
  font-size: 24px !important;
}

.editable {
  border-bottom: 1px solid #3b3b3b;
}

.text-jq-anim {
  transition: none;
}

.tab-mover {
  filter: grayscale(100%);
  opacity: 25%;
}

.tab-mover:not(.disabled) {
  cursor: pointer;
}

.tab-mover.disabled {
  opacity: 10%;
}

.tab-mover:not(.show) {
  /* display: none; */
  width: 0;
  margin: 0 !important;
}

.tab-mover:not(.disabled):hover {
  filter: grayscale(100%);
  opacity: 50%;
}

.tab-mover.tb-mv-left {
  transform: rotate(180deg); 
  margin-right: 30px;
}

.tab-mover.tb-mv-right {
  margin-left: auto;
}