{% load extra_tags %}

<script type="text/javascript">
const sdbrR_header_fixed = false;
const ANSWER_DICT = JSON.parse(document.getElementById('ANSWER_DICT').textContent);
const TIP_DICT = JSON.parse(document.getElementById('PAGE_TIP').textContent);
var QUESTIONS_DICT_SCRIPT = JSON.parse(document.getElementById("QUESTIONS_DICT_SCRIPT").textContent);
var activeMainTab = 1;
var activeSabTab = {}; 
const POST_QUESTION_MESSAGE_DICT = JSON.parse(
        document.getElementById("POST_QUESTION_MESSAGE_DICT").textContent
    );
const ANSWER_MODIFIER_DICT = JSON.parse(
    document.getElementById("ANSWER_MODIFIER_DICT").textContent
)

const ACTIVE_QUESTION_DICT = JSON.parse(
    document.getElementById("ACTIVE_QUESTION_DICT").textContent
)



pg1_sdbrR_header = `
    <span class="side-header-icon">
        {{ PROJECT_SVG|safe }}
    </span>    
    <span class="side-header-text" style="display: flex; flex-direction: column">
        <span {% if SIDEBAR_SHOW_SUBTYPE %}style="margin-top: 15px;"{% endif %}>{{PROJECT_TYPE}}</span>
    </span>
`.trim()
pg1_sdbrR_content = `
    <div class="side-header high-gap" style="padding-top:70px">Suggestions</div>
    <div style="padding-top: 15px">
        <p>
            Detailed document types more specifically detertmine the method, document length and output format for your document.  
        <p>
        <p>
            Select a box to see the details of that option
        </p>  
    </div>  
`.trim()

{% if QUESTIONS_DICT %}
var pg2_tabs_dict = {};
var pg2_tabs_leading_dict={};

{% autoescape off %}
{% for key in QUESTION_LEADING_TEXT %}
    pg2_tabs_leading_dict["{{ key }}"] =  {{ QUESTION_LEADING_TEXT|get_dict_item:key }};
{% endfor %}
{% endautoescape %}

{% for k1 in QUESTIONS_DICT %}
pg2_tabs_dict['{{k1}}'] = {}

{% with QUESTIONS_DICT|get_dict_item:k1 as itm %}
{% for k2 in itm %}
{% ifnotequal k2 'subq' %}
pg2_tabs_dict['{{k1}}']['{{k2}}'] = `{{itm|get_dict_item:k2|safe}}`;
if (pg2_tabs_dict['{{k1}}']['{{k2}}'] === "True") {
    pg2_tabs_dict['{{k1}}']['{{k2}}'] = true;
    if ('{{k2}}' === 'has_subq') {
        {% with itm|get_dict_item:'subq' as itm2 %}
        pg2_tabs_dict['{{k1}}']['subq'] = {}
        {% for k3 in itm2 %}
            pg2_tabs_dict['{{k1}}']['subq']['{{k3}}'] = {}
            {% with itm2|get_dict_item:k3 as itm3 %}
            {% for k4 in itm3 %}
                pg2_tabs_dict['{{k1}}']['subq']['{{k3}}']['{{k4}}'] = `{{itm3|get_dict_item:k4|safe}}`;
                if (pg2_tabs_dict['{{k1}}']['subq']['{{k3}}']['{{k4}}']  === "True") {
                    pg2_tabs_dict['{{k1}}']['subq']['{{k3}}']['{{k4}}']  = true;
                } else if (pg2_tabs_dict['{{k1}}']['subq']['{{k3}}']['{{k4}}']  === "False") {
                    pg2_tabs_dict['{{k1}}']['subq']['{{k3}}']['{{k4}}']  = false;
                }
            {% endfor %}
            {% endwith %}
        {% endfor %}
        {% endwith %}
    }
    // parse subqs
} else if (pg2_tabs_dict['{{k1}}']['{{k2}}'] === "False") {
    pg2_tabs_dict['{{k1}}']['{{k2}}'] = false;
}
{% endifnotequal %}
{% endfor %}
{% endwith %}

{% endfor %}

{% endif %}


// console.debug(pg2_tabs_dict);
</script>